body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: white;
}
.header-content{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: 0px solid;
}
.logo-content{
display: flex;
flex-direction: row;
align-items: center;
border: 0px solid green;
width: 80%;
}
.logo-content-img{
    border: solid 0px green;
}
.emp-text{
    letter-spacing: 0px;
    text-transform: capitalize;
    color: green;
    font-family: "Montserrat"sans-serif;
    font: normal normal bold 20px/25px Montserrat;
}
.emp-payroll{
    color: green;
}
*{
    box-sizing: border-box;
}
.form-content{
    min-height: calc(100% - 80px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.form{
    
    width: 65%;
    padding: 44px 60px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px grey;
    opacity: 1;
    border-radius: 8px;
    border: 1px solid white;
}
.form-head{
    font: normal normal bold  ;
    letter-spacing: 0px;
    font-size: large;
    font-weight: bolder;
    color: black;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.label{
    min-width: 140px;
    colour:black;
}
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
    
}
.text-error{
    margin-left: 5px;
    font-size: 17px;
    color: red;
    font-style: bold;
}
label{
    padding:12px 12px 12px 0;
    display: inline-block;
 
    
}
.text{
    font-size: 16px;
    color: grey;
    opacity: 1;
    font-family: sans-serif;
   
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
}
.range{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 45px;
}
.date{
    width: 100%;
    padding: 12px;
    resize: vertical;
    margin-left: -10px;
}
.name{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 90px;
}
.profile-radio-content{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.gender{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 80px;
    border: 0px solid green;
}
.checkbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 29px;
    border: 0px solid green;
}
.salary-output-text{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 1px;
    border: 0px solid green;
}
.profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}
.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
    background: #707070;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid black;
    cursor: pointer;
}
.submitButton{
    
    background-color:#707070;
    margin-right: 30px;
}
.cancelButton{
    text-decoration: none;
    text-align: center;
    background-color: #707070;
}
img
{
    width:2em;
}

.date{
    margin-left: 5px;
    font-size: 17px;
    color: red;
    font-style: bold;
}
@media only screen and (max-width:600px){
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .checkbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .row{
        flex-direction: column;
        justify-content: flex-start;

    }
    .profile-radio-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .gender{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
   .form-content{
       
   }
    
    .buttonParent{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        
    }
}
